@use '_reset';

.header{
    width: 100%;
    padding: 1em ;

    position: fixed;
    z-index: 2;
    
    background-color: black;
    
    &__wrapper{
        max-width: 1250px;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &__h1{
        --tipo-principal  : 'Inter', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        transition: all .5s ease;

    }
    &__menu{
        width: 2em;
        height: 2em;
        border: .125em solid white;
        position: relative;
        cursor: pointer;
        display: none;
        @media screen and (max-width: 750px) {
            display: flex;
        }

    }
    &__barra{
        width: 100%;
        height: .125em;
        background-color: white;
        transition: all .5s ease;

        position: absolute;
        
        &.arriba{
            width: 60%;
            top:   20%;
            left:  20%;
        }
        &.medio{
            width: 60%;
            top:   calc( 50% - .0625em );
            left:  20%;
        }
        &.abajo{
            width: 60%;
            bottom: 20%;
            right: 20%;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 2em;
    }
    &__svg {
        width: 2em;
        height: 2em;
     }
    &__ul{
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        @media screen and (max-width: 750px) {
            display: none;
        }

    }
}

.menu{
    width:100%;
    height: 100%;
    background-color: black;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:0;
    left:0;

    z-index: 1;
    color:white;

    transition: all .5s ease;
    transform: translateX(100%);

    &.active{
        transform: translateX(0%);
    }
    &__wrapper{
        position: relative;
        top:7vh;
    }
    &__row{
        margin: 0 0 7vh;
    
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap:2em;
        
        font-weight: 600;
    
        @media (max-width:600px){
            flex-direction: column;
        }
    }
    &__col{
        flex-basis: 50%;
        position: relative;
    }
    &__li{
        margin: 0 0 1em;
    }
    &__a{
        transition: .3s all ease-in;

        &.color {
            color: rgb(242, 242, 99);
    }
    &.desplazamiento {
        transform: translateY(-10px);
    }
    }
    &__h3{
        font-size: 3em;  
        font-family : var(--tipo-titular);

        @media (max-width:600px){
            font-size: 2em; 
        }
    }
    &__footer{
        max-width: 300px;
            
        display: grid;
        grid-template-columns: repeat( 3 , 1fr );
        gap:1em;
        color: rgb(242, 242, 99);
    }
   
}

.inicio{
   
    font-family : var(--tipo-titular);
    width: 100%;
    max-width: 1450px;
    height: 90vh;
    margin: 5em auto;
    padding: 0 2em;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-image: url('../assets/blanconegro.jpg');
    background-repeat: no-repeat;
    background-position: right ;
    background-size: contain;

    @media screen and (max-width: 900px) {
        background-position: bottom;
        height: 90vh;
        margin-bottom: 0;
    }
    @media screen and (max-width: 750px) {
        font-size: 1.2em;
        background-position: bottom;
        margin-bottom: 0;
        height: 80vh;
        width: 100%;
    }
    @media screen and (max-width: 550px) {
        background-position: bottom;
        margin-bottom: 0;
        height: 90vh;
    }

    &__texto {

        animation: inicio__texto 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        
        @keyframes inicio__texto {
            0% {
              letter-spacing: -0.5em;
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-filter: blur(0px);
                      filter: blur(0px);
              opacity: 1;
            }
          }
        @media screen and (max-width: 800px) {
            margin-bottom: 20em;
   
        }
        @media screen and (max-width: 550px) {
            margin-bottom: 20em;
            padding: 0 ;
   
        }

    }
    &__h2 {
        font-size: 5em;
        font-weight: 600;
        @media screen and (max-width: 800px) {
            font-size: 2.8em;
        }
        @media screen and (max-width: 550px) {
            font-size: 2.5em;
        }
    }
    &__span{
        display: block;
        justify-content: flex-end;
        color: rgb(242, 242, 99);
    }
    &__h3 {
        font-size: 3em;
        padding: 2em 0;

        @media screen and (max-width: 750px) {
            font-size: 2em;
        }
        @media screen and (max-width: 500px) {
            font-size: 1.5em;
          
        }
    }
}

.about{

    width: 100%;
    padding: 5em 2em;
    background-color:  rgb(242, 242, 99);

    &__container{
        width: 100%;
        max-width: 1400px;
        margin: auto;
    }
    &__animado {
        opacity: 0;
        transition: all 0.5s ;
    }
    &__h4 {
    
        @media screen and (max-width: 750px) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
        }
        
    }
   &__p{
        width: 50%;
        padding: .5em 0;
    
        color: black;
        font-weight: 400;
        font-size: 1.3em;
        font-family : var(--tipo-principal);
        

        text-align: start;
        margin: auto;
        
        @media screen and (max-width: 950px) {
            width: 100%;
            
        }
        
        @media screen and (max-width: 750px) {
            font-size: 1.2em;
            
        }

        @media screen and (max-width: 550px) {
            font-size: 1.1em;
            
        }
    }

}

.works {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 5em 2em;
    
    &__h4 {
       
        display: flex;
        justify-content: end;
        
        color:  rgb(242, 242, 99);
        @media screen and (max-width: 750px) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
        }
    }
    &__grid{
        width: 100%;   
        text-align: center;
        margin: 2em 0;

        display: grid;
        grid-template-columns: repeat( 2 , 1fr );
        gap: 2em;

        @media screen and (max-width: 900px) {
            grid-template-columns: repeat( 1 , 1fr );
        
        }
    }
    &__trabajos {
        width: 80%;
        min-height: 20vh;
        margin: 3em auto;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 

        transition: .2s all cubic-bezier(0.73, -0.58, 0.44, 1.41);
        transform: scale(1) ;
        
        &:hover {
            transform: scale(1.15) ;
            color:  rgb(242, 242, 99);
        }
        @media screen and (max-width: 900px) {
            width: 90%;
          
        }
    }
    &__a {
        width: 100%;
    }
    &__img {
        width: 100%;
        margin: auto;
        height: 289.88px;
              
    }
    &__p {
        margin: 1em 0;
        font-size: 2em;
        @media screen and (max-width: 550px) {
            font-size: 1.3em;
        }
        &.color {
            color:  rgb(242, 242, 99);
        }
    }
}
  
.contact {

    width: 100%;

    padding: 5em 2em;
    background-color:  rgb(242, 242, 99);
    color: black;

    &__container{
        max-width: 1400px;
        margin: auto;

    }
    &__h4 {
    
        color: black;
        @media screen and (max-width: 750px) {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
        }
    }
    &__texto {
        width: 100%;
        text-align: center;

        &__h3{
            font-size: 3em;
            font-family : var(--tipo-titular);
            font-weight: 600;
            @media screen and (max-width: 550px) {
                font-size: 2em;
            }
        }
        &__p{
            font-size: 1.5em;
            font-weight: 600;
            margin: 1em 0;
            @media screen and (max-width: 550px) {
                font-size: 1.1em;
            }
        }
    }
    &__enlaces  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;


        &__a{
            font-size: 1.5em;
            @media screen and (max-width: 550px) {
                font-size: 1.1em;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;

        &__a {
            font-size: 3em;
            margin: 1em 0 ;
            @media screen and (max-width: 550px) {
                font-size: 2em;
            }  
            &:hover {
                transform: scale(1.3);
            }
        }
       
    }
    &__footer {
        width: 100%;
        text-align: center;

        &__p{
            font-size: 1.5em;
            margin: 2em 0   ;
        }
    }
}

